/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-search {
      padding: 15px 0px;
  }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
  .logo {
      text-align: center;
  }
  .cart-content-right {
      padding-bottom: 5px;
  }
  .mg {
      margin: 0px 0px;
  }
  .menu-area-main {
      height: 256px;
      overflow-y: auto;
  }
  .megamenu>.row [class*="col-"] {
      padding: 0px;
  }
  .menu-area-main .megamenu .men-cat {
      padding: 0px 15px;
  }
  .menu-area-main .megamenu .women-cat {
      padding: 0px 15px;
  }
  .menu-area-main .megamenu .el-cat {
      padding: 0px 15px;
  }
  .mean-container .mean-nav ul li a.mean-expand {
      height: 19px;
  }
  .category-box.women-box {
      display: none;
  }
  .cart-box {
      display: inline-block;
      margin: 0px 30px;
  }
  .wish-box {
      float: none;
      margin: 0px 30px;
      display: inline-block;
  }
  .menu-add {
      display: none;
  }
  .category-box {
      display: none;
  }
  .mean-container .mean-nav ul li ol {
      padding: 0px;
  }
  .mean-container .mean-nav ul li a {
      padding: 10px 20px;
      width: 94.8%;
  }
  .mean-container .mean-nav ul li li a {
      width: 92%;
      padding: 1em 4%;
  }
  .mean-container .mean-nav ul li li li a {
      width: 100%;
  }
  .header-search {
      padding: 15px 0px;
  }
  #collapseFilter.d-md-block {
      padding: 30px 0px;
  }
}

/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
  .rectangle-2 {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

  #jewellery_main_slider a.carousel-control-prev {
      left: 20px;
      top: 86%;
  }
  #jewellery_main_slider a.carousel-control-next {
      right: 20px;
      top: 86%;
  }

  .cart-content-right {
      padding-bottom: 5px;
  }
  .megamenu>.row [class*="col-"] {
      padding: 0px;
  }
  .menu-area-main .megamenu .men-cat {
      padding: 0px 15px;
  }
  .menu-area-main .megamenu .women-cat {
      padding: 0px 15px;
  }
  .menu-area-main .megamenu .el-cat {
      padding: 0px 15px;
  }
  .mean-container .mean-nav ul li a {
      padding: 1em 4%;
      width: 92%;
  }
  .mean-container .mean-nav ul li li a {
      width: 90%;
      padding: 1em 5%;
  }
  .mean-container .sub-full.megamenu-categories ol li a {
      padding: 5px 0px;
      text-transform: capitalize;
      width: 100%;
  }
  .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
      width: auto;
      border: none;
      float: none;
  }
  .menu-area-main {
      height: 45px;
      overflow-y: auto;
  }
  .mean-container .mean-nav ul li a.mean-expand {
      top: 0;
  }
}

@media (min-width: 992px) and (max-width: 1299px) {
  
  .address {
    margin-right: auto;
    margin-left: 0px;
    margin-top: 5px;
  }
  
  .footer-card {
    display: none;
}
.footer-card-3 {
    display: none;
}
.lkk{
  margin-left: -18px;
}
.com-u{
  display: none;
}
.addr {
  margin-left: auto;
  margin-top: -2px;
  margin-right: 0px;
  font-size: 12px;
}
.mul{
  font-size: 10px;
}
  .tx-icon {
   font-size: 10px;
  }
  .icon-and-supporting-text-2 {
    margin-left: auto;
  }
  .icon-and-supporting-text-3 {
    margin-left: auto;
  }
  .icon-and-supporting-text-1 {
    margin-left: auto;
  }
  .icon-com{
    width: 20px;
    height: 20px;
  }
  .content {
    min-height: auto;
  }
  .rectangle-2 {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .banner_bg_main {
      background-size: 100% 100%;
  }
  .tshirt_img {
      margin: 20px 0px;
      min-height: 360px;
  }
  #main_slider a.carousel-control-next {
      right: 40px;
      top: 110%;
  }
  #main_slider a.carousel-control-prev {
      left: 40px;
      top: 110%;
  }
  .electronic_img {
      margin: 20px 0px;
      min-height: 280px;
  }
  #jewellery_main_slider a.carousel-control-prev {
      left: 25px;
      top: 93%;
  }
  #jewellery_main_slider a.carousel-control-next {
      right: 25px;
      top: 93%;
  }
  #main_slider a.carousel-control-prev {
      left: 25px;
      top: 105%;
  }
  #main_slider a.carousel-control-next {
      right: 25px;
      top: 105%;
  }
  #electronic_main_slider a.carousel-control-prev {
      left: 25px;
      top: 105%;
  }
  #electronic_main_slider a.carousel-control-next {
      right: 25px;
      top: 105%;
  }
  .r-top{
    align-items: flex-start;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
.tx-pt{
      font-size: 12px;
  }

  .tx-np{
      font-size: 9px;
  }

  .tx-t{
      font-size: 9px;
  }
.li-auth{
  display: inline;
}
.lk {
  margin-left: -3px;
}
.icon-and-supporting-text {
  margin-left: -10px;
}
.tags {
  min-width: 100%;
}

  .form-inline {
    display: none;
  }
.com-u{
  display: none;
}
.image {
  display: none;
}
.heading-and-subheading {
    margin-top: 10px;
  }
  .r-top{
  margin-top: -130px;  
  }
  .input-1 {
  min-width: 325px;
  }
  .dropdown-6 {
    margin-left: 280px;
    margin-top: -71px;
  }
  .dropdown-2 {
    margin-left: 25px;
    margin-top: 15px;
  }
  .dropdown-4 {
    margin-left: 25px;
    margin-top: 15px;
  }
  .hr-lg {
    margin-left: 18px;
  }

  .mulai-rp {
    margin-left: 32px;
    margin-top: -20px;
  }
  .tx-sold {
   font-size: 10px;
  }
  .addr {
    margin-right: auto;
    margin-left: 0px;
    margin-top: 23px;
  }
  .tx-icon {
   font-size: 10px;
  }
  .icon-and-supporting-text-2 {
    margin-left: auto;
  }
  .icon-and-supporting-text-3 {
    margin-left: auto;
  }
  .icon-and-supporting-text-1 {
    margin-left: auto;
  }
  .icon-com{
    width: 20px;
    height: 20px;
  }
  .content {
    min-height: auto;
  }
  .rectangle-2 {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .tx-lf {
    font-size: 24px;
  }

  .tx-rg {
    color: #fff;
    font-size: 16px;
  }
  
  .menu{
      margin-left: auto;
      margin-right: -65px;
  }
  .text-urun {
    font-size: 30px;
  }
  .banner_bg_main {
      background-size: 100% 100%;
  }

  .containt_main {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 0px;
  }
  .dropdown {
      display: none;
  }
  .tshirt_img {
      margin: 20px 0px;
      min-height: 320px;
  }
  .banner_taital {
      font-size: 50px;
  }
  #main_slider a.carousel-control-next {
      right: 40px;
      top: 110%;
  }
  #main_slider a.carousel-control-prev {
      left: 40px;
      top: 110%;
  }
  .electronic_img {
      margin: 20px 0px;
      min-height: 190px;
  }
  
  #jewellery_main_slider a.carousel-control-prev {
      left: 25px;
      top: 86%;
  }
  #jewellery_main_slider a.carousel-control-next {
      right: 25px;
      top: 86%;
  }
  #main_slider a.carousel-control-prev {
      left: 25px;
      top: 100%;
  }
  #main_slider a.carousel-control-next {
      right: 25px;
      top: 100%;
  }
  #electronic_main_slider a.carousel-control-prev {
      left: 25px;
      top: 100%;
  }
  #electronic_main_slider a.carousel-control-next {
      right: 25px;
      top: 100%;
  }
  .input_bt {
      width: 100%;
  }

  .footer_section {
    align-items: center;
    display: flex;
    width: 100%;
    background-color: var(--falu-red);
    height: auto;
  }

  .tx-f {
    align-self: center;
    letter-spacing: 0;
    line-height: 20px;
    min-height: 40px;
    width: 100%;
    margin-left: 15px;
    margin-bottom: 160px;
  }


  .santara-app2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: -10px;
    margin-top: -90px;
    margin-bottom: 25px;
  }

  .ojk{
    width:130px;
    height:58px;
    margin-top: 0px;
  }

  .aludi{
    margin-top: 10px;
    width:110px;
    height:42px;
  }

  .content {
    display: none;
  }


  .logo-ojk{
    margin-top: -50px;
  }

  .logo-aludi{
    margin-top: -79px;
    margin-left: 220px;
  }

  .copyright_section {
      margin-top: -1px;
  }

  .layout_padding {
      padding-bottom: 10px;
  }
  .r-top{
    align-items: flex-start;
    display: flex;
  }
  .molpli{
  visibility:hidden;
  display:none !important;
  }
  .moldla{
  visibility:visible;
  display: flex;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
.disclaimer-outer-bg {
      padding: 10px;
  }

  .disclaimer-inner-bg {
      background-color: #21252e;
      border-radius: 25px;
      border: #707070 solid;
      padding: 10px;
  }
.li-auth{
  display: inline;
}
.tx-t{
  font-size: 9px;
}
.lk {
  margin-left: -3px;
}
.icon-and-supporting-text {
  margin-left: -10px;
}
.tags {
  min-width: 100%;
}
.tags {
  min-width: 100%;
}

  .form-inline {
    display: none;
  }
.com-u{
  display: none;
}

.image {
  display: none;
}
.heading-and-subheading {
    margin-top: 10px;
  }
  .r-top{
  margin-top: -130px;  
  }
  .input-1 {
  min-width: 325px;
  }
  .dropdown-6 {
    margin-left: 280px;
    margin-top: -71px;
  }
  .dropdown-2 {
    margin-left: 25px;
    margin-top: 15px;
  }
  .dropdown-4 {
    margin-left: 25px;
    margin-top: 15px;
  }
  .hr-lg {
    margin-left: 18px;
  }
  .mulai-rp {
    margin-left: 32px;
    margin-top: -20px;
  }
  .tx-sold {
   font-size: 10px;
  }
  .addr {
    margin-right: auto;
    margin-left: 0px;
    margin-top: 23px;
  }
  .tx-icon {
   font-size: 9px;
  }
  .icon-and-supporting-text-2 {
    margin-left: auto;
  }
  .icon-and-supporting-text-3 {
    margin-left: auto;
  }
  .icon-and-supporting-text-1 {
    margin-left: auto;
  }
  .icon-com{
    width: 14px;
    height: 14px;
  }
  .tx-np{
      width: 100%;
      font-size: 12px;
  }
  .tx-pt{
      font-size: 14px;
  }
  .content {
    display: none;
  }
  .rectangle-2 {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .tx-lf {
    font-size: 18px;
  }

  .tx-rg {
    color: #fff;
    font-size: 12px;
  }
  .menu{
      margin-left: auto;
      margin-right: -55px;
  }
  .text-urun {
    font-size: 30px;
  }
  .banner_bg_main {
      background-size: 100% 100%;
  }
  .header_section_top {
      display: none;
  }
  .containt_main {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 0px;
  }
  .toggle_icon {
      cursor: pointer;
      order: 2;
  }
  .main {
      margin: 0px 0px 0px 0px;
  }
  .main {
      margin: 0px 0px;
  }
  .input-group {
      width: auto;
      margin-right: 0px;
      margin-left: 10px;
  }
  .header_box {
      order: 1;
      display: flex;
      width: 100%;
      margin-bottom: 20px;
      justify-content: space-between;
  }
  .dropdown {
      display: none;
  }
  .dropdown-6 {
    margin-left: 25px;
    margin-top: 100px;
  }
  .dropdown-2 {
    margin-left: 25px;
    margin-top: 15px;
  }
  .dropdown-4 {
    margin-left: 25px;
    margin-top: 15px;
  }
  .login_menu li {
      float: left;
      font-size: 14px;
  }
  .nav-link {
      padding: .4rem 0px;
      color: #fff;
  }
  .lang_box {
      background-color: transparent;
  }
  .banner_taital {
      font-size: 40px;
  }
  #my_slider a.carousel-control-prev {
      top: -10px;
  }
  #my_slider a.carousel-control-next {
      top: -10px;
  }
  .fashion_taital {
      font-size: 24px;
  }
  .electronic_img {
      margin: 20px 0px;
      min-height: 145px;
  }
  .tshirt_img {
      margin: 20px 0px;
      min-height: 246px;
  }
  .jewellery_img {
      margin: 20px 0px;
      min-height: 0;
  }
  .shirt_text {
      font-size: 14px;
  }
  .price_text {
      font-size: 14px
  }
  .buy_bt a {
      font-size: 12px;
  }
  .seemore_bt a {
      font-size: 12px;
  }
  .box_main {
      padding: 20px 10px;
  }
  .input_bt {
      width: 100%;
  }
  .mail_bt {
      width: 70%;
  }
  .footer_menu li {
      float: none;
      padding: 10px 10px 0px 10px;
  }
  .location_main {
      padding: 30px 0px 30px 0px;
  }
  .form-inline {
    display: none;
  }

  .footer_section {
    align-items: center;
    display: flex;
    width: 100%;
    background-color: var(--falu-red);
    height: auto;
  }

  .tx-f {
    align-self: center;
    letter-spacing: 0;
    line-height: 20px;
    min-height: 40px;
    width: 100%;
    margin-left: 15px;
    margin-bottom: 160px;
  }

  .santara-app {
    align-self: center;
    margin-top: -35px;
    min-height: 72px;
    width: 267px;
    margin-left: 15px;
  }

  .santara-app2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: -10px;
    margin-top: -90px;
    margin-bottom: 50px;
  }

  .ojk{
    width:130px;
    height:58px;
    margin-top: 0px;
  }

  .aludi{
    margin-top: 15px;
    width:110px;
    height:42px;
  }

  .content {
    display: none;
  }


  .logo-ojk{
    margin-top: -50px;
  }

  .logo-aludi{
    margin-top: -79px;
    margin-left: 210px;
  }

  .copyright_section {
      margin-top: -1px;
  }

  .layout_padding {
      padding-bottom: 10px;
  }
  #jewellery_main_slider a.carousel-control-prev {
      left: 20px;
      top: 86%;
  }
  #jewellery_main_slider a.carousel-control-next {
      right: 20px;
      top: 86%;
  }
  #main_slider a.carousel-control-prev {
      left: 25px;
      top: 100%;
  }
  #main_slider a.carousel-control-next {
      right: 25px;
      top: 100%;
  }
  #electronic_main_slider a.carousel-control-prev {
      left: 25px;
      top: 100%;
  }
  #electronic_main_slider a.carousel-control-next {
      right: 25px;
      top: 100%;
  }
  
  .sp-tab{
    margin-left: 10px; 
  }
  
  .kati{
    display: none;
  }
  .molpli{
  visibility:hidden;
  display:none !important;
  }

  .moldla{
  visibility:visible;
  display: flex;
  }
  .boxi{
    margin-left: 0px;
    margin-right: 10px;
  }
  
  .disclaimer-inner-bg{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
.disclaimer-outer-bg {
      padding: 10px;
  }

  .disclaimer-inner-bg {
      background-color: #21252e;
      border-radius: 25px;
      border: #707070 solid;
      padding: 10px;
  }
.li-auth{
  display: inline;
}
.tx-t{
  font-size: 9px;
}
.lk {
  margin-left: -3px;
}
.icon-and-supporting-text {
  margin-left: -10px;
}
.tags {
  min-width: 100%;
}
.com-u{
  display: none;
}
.image {
  display: none;
}
  .heading-and-subheading {
    margin-top: 10px;
  }
  .r-top{
  margin-top: -130px;  
  }
  .dropdown-6 {
    margin-left: 25px;
    margin-top: 10px;
  }
  .dropdown-2 {
    margin-left: 25px;
    margin-top: 15px;
  }
  .dropdown-4 {
    margin-left: 25px;
    margin-top: 15px;
  }

  .hr-lg {
    margin-left: 18px;
  }
  .mulai-rp {
    margin-left: 32px;
    margin-top: -20px;
  }
  .tx-sold {
   font-size: 10px;
  }
  .addr {
    margin-right: auto;
    margin-left: 0px;
    margin-top: 23px;
  }
  .tx-icon {
   font-size: 9px;
  }
  .icon-and-supporting-text-2 {
    margin-left: auto;
  }
  .icon-and-supporting-text-3 {
    margin-left: auto;
  }
  .icon-and-supporting-text-1 {
    margin-left: auto;
  }
  .icon-com{
    width: 14px;
    height: 14px;
  }
  .section{
      margin-top: 80px;
  }
  .tx-np{
      width: 100%;
      font-size: 12px;
  }
  .tx-pt{
      font-size: 14px
  }
  .rectangle-2 {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .tx-lf {
    font-size: 18px;
  }

  .tx-rg {
    color: #fff;
    font-size: 12px;
  }

  .menu{
      margin-left: auto;
      margin-right: 10px;
  }

  .logo{
    margin-right: 0px;
  }

  .santara {
    letter-spacing: 0.56px;
    line-height: 30px;
    margin-left: 10px;
    min-height: 30px;
    white-space: nowrap;
  }
  .actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    min-height: 108px;
    width: 100%;
  }

  .actions2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    min-height: 108px;
    width: 100%;
  }

  .button-cta-3 {
    cursor: pointer;
    min-width: 100%;
    margin-right: 15px;
  }

  .button-2 {
    align-items: center;
    background-color: var(--thunderbird);
    border-radius: 8px;
    display: flex;
    height: 48px;
    width: 100%;
    padding: 0 114.5px;
    margin-left: 0px;
  font-weight: 500;
  }

  .button-2:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }
  .button-3 {
    align-items: center;
    background-color: var(--mercury);
    border-radius: 8px;
    display: flex;
    height: 48px;
    margin-top: 12px;
    width: 100%;
    padding: 0 107px;
    margin-left: 0px;
  font-weight: 500;
  }

  .button-3:hover {
     color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
  }
  .banner_section {
      width: 100%;
      float: left;
      padding-bottom: 60px;
      margin-top: -20px;
  }
  .text-mulai {
    font-size: 16px;
    text-align: center;
  }

  .text-daftar {
    font-size: 16px;
  }

  .tx-sb {
    letter-spacing: 0;
    line-height: 28px;
    margin-top: 16px;
    min-height: 112px;
    text-align: center;
    width: 100%;
  }
  .text-urun {
    font-size: 30px;
  }
  .tx-bn{
    letter-spacing: 0;
    line-height: 38px;
    min-height: 76px;
    text-align: center;
    width: 100%;
  }
  .form-inline {
    display: none;
  }
  .banner_bg_main {
      background-size: cover;
  }
  .header_section_top {
      display: none;
  }
  .containt_main {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 0px;
  }
  .toggle_icon {
      cursor: pointer;
      order: 2;
  }
  .main {
      margin: 0px 0px 0px 0px;
  }
  .main {
      margin: 0px 0px;
  }
  .input-group {
      width: auto;
      margin-right: 0px;
      margin-left: 10px;
  }
  .header_box {
      order: 1;
      display: flex;
      width: 100%;
      margin-bottom: 20px;
      justify-content: space-between;
  }
  .dropdown {
      display: none;
  }
  .login_menu li {
      float: left;
      font-size: 14px;
  }
  .nav-link {
      padding: .4rem 0px;
      color: #fff;
  }
  .lang_box {
      background-color: transparent;
  }
  .banner_taital {
      font-size: 24px;
  }
  #my_slider a.carousel-control-prev {
      top: -10px;
  }
  #my_slider a.carousel-control-next {
      top: -10px;
  }
  .fashion_taital {
      font-size: 24px;
  }
  .electronic_img {
      margin: 20px 0px;
      min-height: 0;
  }
  .tshirt_img {
      margin: 20px 0px;
      min-height: 0;
  }
  .jewellery_img {
      margin: 20px 0px;
      min-height: 0;
  }
  #jewellery_main_slider a.carousel-control-prev {
      left: 20px;
      top: 83%;
  }
  #jewellery_main_slider a.carousel-control-next {
      right: 20px;
      top: 83%;
  }
  #main_slider a.carousel-control-prev {
      left: 25px;
      top: 100%;
  }
  #main_slider a.carousel-control-next {
      right: 25px;
      top: 100%;
  }
  #electronic_main_slider a.carousel-control-prev {
      left: 25px;
      top: 100%;
  }
  #electronic_main_slider a.carousel-control-next {
      right: 25px;
      top: 100%;
  }
  .input_bt {
      width: 100%;
  }
  .mail_bt {
      width: 70%;
  }
  .footer_menu li {
      float: none;
      padding: 10px 10px 0px 10px;
  }
  .location_main {
      padding: 30px 0px 30px 0px;
  }

  .footer_section {
    align-items: center;
    display: flex;
    width: 100%;
    background-color: var(--falu-red);
    height: auto;
  }

  .tx-f {
    align-self: center;
    letter-spacing: 0;
    line-height: 20px;
    min-height: 40px;
    width: 100%;
    margin-left: 15px;
    margin-bottom: 160px;
  }

  .santara-app {
    align-self: center;
    margin-top: -35px;
    min-height: 72px;
    width: 267px;
    margin-left: 15px;
  }

  .santara-app2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: -10px;
    margin-top: -90px;
    margin-bottom: 50px;
  }

  .ojk{
    width:130px;
    height:58px;
    margin-top: 0px;
  }

  .aludi{
    margin-top: 15px;
    width:110px;
    height:42px;
  }

  .content {
    display: none;
  }


  .logo-ojk{
    margin-top: -50px;
  }

  .logo-aludi{
    margin-top: -79px;
    margin-left: 210px;
  }

  .copyright_section {
      margin-top: -1px;
  }

  .layout_padding {
      padding-bottom: 10px;
  }

  .b-daf{
    margin-top: 0px; 
    height: 48px; 
    padding-top: 12px; 
    font-weight: bold; 
    font-size: 16px; 
    background-color: var(--alizarin-crimson);
  }

  .b-mul{
    height: 48px; 
    margin-top: 0px; 
    padding-top: 12px; 
    font-weight: bold; 
    font-size: 16px;
    margin-left: 0px;
  }

  .sp-tab{
    margin-left: 10px; 
  }
  .kati{
    display: none;
  }
  .molpli{
  visibility:hidden;
  display:none;
  }
  .moldla{
  visibility:visible;
  display: flex;
  }
  .boxi{
    width: 330px;
    margin: 0 auto;
    margin-right: 10px;
  }
  
  .table-2 {
    width: 85%;
  }
  .tx-table{
    font-size: 10px;
  }

  .disclaimer-inner-bg{
    padding-left: 30px;
    padding-right: 30px;
  }
}